.addButton {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 300px;
    height: 100%;
    background-color: rgb(59, 59, 59);
    color: black;
    word-wrap: nowrap;

}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}